footer{
	background-color: #2d2d2d;
	height: 100px;
	color: #ebebeb;
	font: 'Helvetica Neue Thin';
	size: 10;
	color: #ebebeb;
	font-weight: 100;
}

a{
	height: 100px;
	color: #ebebeb;
	font: 'Helvetica';
	size: 10;
}

#footerP{
	padding-top: 20px;
}

#downloadFlashP{
	text-align: center;
}